[package]
name = "tough-kms"
version = "0.3.5"
description = "Implements AWS KMS as a key source for TUF signing keys"
authors = ["Shailesh Gothi <gothisg@amazon.com>"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/awslabs/tough"
keywords = ["TUF", "KMS"]
edition = "2018"

[features]
default = ["rusoto"]
rusoto = ["rusoto-rustls"]
rusoto-native-tls = ["rusoto_core/native-tls", "rusoto_credential", "rusoto_kms/native-tls"]
rusoto-rustls = ["rusoto_core/rustls", "rusoto_credential", "rusoto_kms/rustls"]

[dependencies]
tough = { version = "0.12.0", path = "../tough", features = ["http"] }
ring = { version = "0.16.16", features = ["std"] }
rusoto_core = { version = "0.48", optional = true, default-features = false }
rusoto_credential = { version = "0.48", optional = true }
rusoto_kms = { version = "0.48", optional = true, default-features = false }
snafu = { version = "0.7", features = ["backtraces-impl-backtrace-crate"] }
tokio = "1.8"
pem = "1.0.2"

[dev-dependencies]
base64 = "0.13"
bytes = "1"
rusoto_mock = { version = "0.48", default-features = false }
serde = "1.0.125"
serde_json = "1.0.63"
