[package]
name = "tuftool"
version = "0.6.0"
description = "Utility for creating and signing The Update Framework (TUF) repositories"
authors = ["iliana destroyer of worlds <iweller@amazon.com>"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/awslabs/tough"
keywords = ["tuf", "update", "repository"]
edition = "2018"

[features]
integ = []
default = ["rusoto"]
rusoto = ["rusoto-rustls"]
rusoto-native-tls = ["rusoto_core/native-tls", "rusoto_credential", "rusoto_ssm/native-tls", "rusoto_kms/native-tls"]
rusoto-rustls = ["rusoto_core/rustls", "rusoto_credential", "rusoto_ssm/rustls", "rusoto_kms/rustls",]

[dependencies]
chrono = "0.4.11"
hex = "0.4.2"
log = "0.4.8"
maplit = "1.0.1"
olpc-cjson = { version = "0.1.0", path = "../olpc-cjson" }
pem = "0.8.1"
rayon = "1.2"
reqwest = { version = "0.10.4", features = ["blocking"] }
ring = { version = "0.16.16", features = ["std"] }
rusoto_core = { version = "0.45", optional = true, default-features = false }
rusoto_credential = { version = "0.45", optional = true }
rusoto_ssm = { version = "0.45", optional = true, default-features = false }
rusoto_kms = { version = "0.45", optional = true, default-features = false }
serde = "1.0.118"
serde_json = "1.0.59"
simplelog = "0.8.0"
snafu = { version = "0.6.8", features = ["backtraces-impl-backtrace-crate"] }
structopt = "0.3"
tempfile = "3.1.0"
tokio = "0.2.21"
tough = { version = "0.9.0", path = "../tough", features = ["http"] }
tough-ssm = { version = "0.4.0", path = "../tough-ssm" }
tough-kms = { version = "0.1.1", path = "../tough-kms" }
url = "2.1.0"
walkdir = "2.2.9"

[dev-dependencies]
assert_cmd = "1.0"
mockito = "0.28"
