[package]
name = "tuftool"
version = "0.4.0"
description = "Utility for creating and signing The Update Framework (TUF) repositories"
authors = ["iliana destroyer of worlds <iweller@amazon.com>"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/awslabs/tough"
keywords = ["tuf", "update", "repository"]
edition = "2018"

[features]
default = ["rusoto"]
rusoto = ["rusoto-rustls"]
rusoto-native-tls = ["rusoto_core/native-tls", "rusoto_credential", "rusoto_ssm/native-tls"]
rusoto-rustls = ["rusoto_core/rustls", "rusoto_credential", "rusoto_ssm/rustls"]

[dependencies]
chrono = "0.4.13"
hex = "0.4.2"
maplit = "1.0.1"
olpc-cjson = { version = "0.1.0", path = "../olpc-cjson" }
pem = "0.7.0"
rayon = "1.2"
reqwest = { version = "0.10.4", features = ["blocking"] }
ring = { version = "0.16.13", features = ["std"] }
rusoto_core = { version = "0.44", optional = true, default-features = false }
rusoto_credential = { version = "0.44", optional = true }
rusoto_ssm = { version = "0.44", optional = true, default-features = false }
serde = "1.0.110"
serde_json = "1.0.53"
snafu = { version = "0.6.8", features = ["backtraces-impl-backtrace-crate"] }
structopt = "0.3"
tempfile = "3.1.0"
url = "2.1.0"
walkdir = "2.2.9"
tough = { version = "0.7.0", path = "../tough", features = ["http"] }
tokio = "0.2.21"
tough-ssm = { version = "0.2.0", path = "../tough-ssm" }

[dev-dependencies]
assert_cmd = "1.0"
